.flex {
  display: flex;
  gap: 0.5em;
}
li.visited {
  color: blue;
  text-decoration: underline;
}
.box {
  border: 1px solid #444;
  padding: 0.5em;
}
.btn {
  padding: 1em;
  border: 1px solid transparent;
  &.active {
    background-color: skyblue;
  }
}
.btn-block {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}
.box-screen {
  display: flex;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: 0 auto;
}
