body {
  > header {
    a {
      color: olivedrab;
      text-decoration: none;
    }
  }
}

#content {
  fieldset {
    width: 30%;
    font-family: monospace;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 1em;
  }
  li {
    width: 100%;
    padding: 2px 4px;
    font-size: 1rem;
    /* list-style-position: inside; */
    &::marker {
      font-size: 0.8em;
    }
    a {
      color: #454548;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-decoration-color: olivedrab;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.title {
  line-height: 1;
  color: olivedrab;
  + p {
    color: olivedrab;
    padding-left: 16px;
    margin-top: -8px;
    margin-bottom: 20px;
  }
}

h1.title {
  color: #fff;
  background-color: olivedrab;
  padding: 6px 12px;
}

h2.title,
h3.title {
  border-left: 4px solid olivedrab;
  padding-left: 12px;
}
